# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\hoclaptrinh\docker\course\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
